html, 
body {
  padding: 0;
  margin: 0;
  font-family: poppins400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --color-success: #25611D;
  --color-dark: #000000;
  --color-white: #ffffff;
  --color-light: #F7F7F7;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: poppins300;
  src: url('../public/fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: poppins400;
  src: url('../public/fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppins500;
  src: url('../public/fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: poppins600;
  src: url('../public/fonts/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: poppins700;
  src: url('../public/fonts/Poppins-Bold.ttf');
}

