
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'mixinsValues';
@import './variables';
$theme-colors: (
  "primary": #25611D,
  );
  @import "../node_modules/bootstrap/scss/bootstrap";


html, 
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  margin: 0px;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 51%;
  }
}

@media screen and (max-width: 471px) {
  html {
    font-size: 40%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */

.navbar{
  // height: 40px;
  padding: 0px;
  // margin-top: 2.4rem;
  .navbar-brand{
    font-size: 3rem;
    font-weight: 800;
    color: $color-success;

  }
  .navbar-toggler{
    border: 2px solid $color-success;
    background-color: $color-success;
    box-shadow: none;
  }
  .navbar-collapse{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    @media screen and (max-width:991px){
      box-shadow: rgb(97 95 95 / 66%) 0px 6px 10px;
      background-color: rgb(255, 255, 255);
      
    }
   
}
  // }
  .navbar-nav{
    margin-left: auto;
    a{
      @include text16;
      padding: .6rem 2rem;
      min-width: 10rem;
      text-align: center;
      margin: 0px 1.4rem;
      border-radius: 7px;
      &.active{
        background-color: $color-success;
        color: #fff;
      }
    }
  }
}
.navbar-toggler {
  // border: none;
  // margin-left: 15px;
  .navbar-toggler-icon {
    background-image: url("../public/menu.png");
  }
  &.collapsed {
    .navbar-toggler-icon {
      background-image: url("../public/cross.png");
    }
  }
}



.carousel {
  .carousel-indicators {
    margin-bottom: 0px;
    button{
      margin-bottom: 3.5rem;
      width:1.3rem;
      height:1.3rem;
      border-radius: 50px;
      border: 2px solid #fff;
      background-color: #fff ;
      opacity: 1;
      &.active{
        background-color: #25611D;
        
      }
    }
  }
      .carousel-control-next span{
        @include sliderArrowbutton;
        @media screen and (max-width:528px){
          background-position-x: 1.2rem;
        }
      }
      .carousel-control-prev span{
      @include sliderArrowbutton;
      @media screen and (max-width:528px){
        background-position-x: 0.9rem;
      }
      }
      .carousel-caption{
        width: 50%;
        height: 100%;
        width: calc(100% - 15%);
        margin-left: 15%;
        text-align: left;
        position: unset;
        padding: 0px;
        @media screen and (max-width: 1024px) {
          width: unset;
        }
        @media screen and (max-width:528px) {
          top: unset;
          width: unset;
        }
        .content{
          position: absolute;
          top: 40%;
           width: 50%; 
          @media screen and (max-width:1440px){
              top: 36%;
          }
          @media screen and (max-width:991px) {
            width: calc(100% - 30%);
          }
          @media screen and (max-width:528px) {
            top: 20%;
          }
        }

        
      
        h2{
          font-size: 5.6rem;
            font-weight: 700;
            letter-spacing: 1.68px;

            @media screen and (max-width:1366px) {
              font-size: 4.5rem;
            }
            @media screen and (max-width:1200px) {
              font-size: 4rem
            }
            @media screen and (max-width:991px) {
              text-align: center
            }
            @media screen and (max-width:768px) {
              font-size: 3rem;
            }
            @media screen and (max-width: 528px) {
              font-size: 12px;
              
            }
        }
        p{
          font-size: 1.8rem;
          width: 65%;
          font-weight: 200;
          margin: 1.4rem 0;
          @media screen and (max-width:991px) {
            text-align: center;
            width: auto;
          }
          @media screen and (max-width: 528px) {
            font-size: 10px;
            text-align: center;
            width: 100%;
          }
        }
        button{
          @include greenButton;
          font-size: 2rem;
          width: 204px;
          @media screen and (max-width:768px) {
            // height: 40px;
            width: 150px;
            font-size: 12px;
          }
          @media screen and (max-width:991px) {
            margin: auto;
          }
          @media screen and (max-width: 528px) {
            font-size: 10px;
            height: 3rem;
            width: max-content;
          }
        }
      }
}