@import "mixinsValues";
@import "variables";

// @use ''

.appBar {
  min-height: 75px;
  background-color: $color-light;
  display: flex;
  align-items: center;

  .leftBox {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    .info {
      @media screen and (max-width: 428px) {
        margin: 10px 0;
      }
      .address {
        @include text16;
      }
      .city {
        @include text16;
        font-weight: 200;
      }
    }
  }
  .rightBox {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    @media screen and (max-width: 428px) {
     justify-content: center;
    }
    button {
      @include greenButton;
      font-size: 1.4rem;
      font-weight: 500;
      width: auto;
      height: 4rem;

      @media screen and (min-width:768px) and (max-width: 1024px) {
          font-size: 1.2rem;
      }
      @media screen and (max-width: 428px) {
        margin: 10px 0;
      
      }
    
      &:first-child {
        border: 1px solid $color-success;
        background-color: var(--color-white);
        color: var(--color-success);
      }
      &:last-child {
        margin-left: 25px;
      }
    }
  }
}
