@import 'mixinsValues'  ;

// @use ''

.appBar {
  height: 75px;
  background-color: var(--color-light);

  .leftBox{
    display: flex;
    justify-content: space-between;
    .info{
      margin: 1.5rem 0;
      .address{
      @include text16;
    }
    .city{
      @include text16;
      font-weight: 400;
      }
    }
  }
  .rightBox{
    display: flex;
    justify-content: end;

    button{
      @include text16;
      @include greenButton;
      margin: 1.5rem 0;
      font-size: 1.4rem;
      width: auto;
      &:last-child{
        margin-left: 40px;
      }
    }
  }
}